body {
    margin: 0%;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #E5EDFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo1 {
    float: left;
    padding: 30px 0 15px;
}

.logo2 {
    float: left;
    padding: 30px 0 15px;
}

.logo .logo2 {
    display: none;
}

.logo:hover .logo1 {
    display: none;
}

.logo:hover .logo2 {
    display: block;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 50px;

    position: relative;
}

nav a{ 
    color: black;
    text-decoration: none;
    font-family: Koralle NF;
    font-size: 18px;
}

nav a:hover {
    color: #4469A6;
}
    
nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #4469A6;

    position: absolute;
    width: 0%;
    bottom:0;
    margin-bottom: -10px;

    transition: ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

hr.solid {
    border-top: 6px solid #D3DCF2;
    margin: 0;
}